doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ak's University - Akash Rajiwale
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        style
            include ../static/style.css
            include ../static/utils.css
            include ../static/mobile.css
    body
        block frontpage
        
        block content


        //- -----------section seventh-------
        section.footer
            h1 About Us
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorum voluptatum tempora delectus velit debitis a. Ducimus maxime perspiciatis quis placeat, quae reprehenderit modi.
            div.social-icon
                <i class="fa fa-facebook" ></i>
                <i class="fa fa-twitter" ></i>
                <i class="fa fa-linkedin" ></i>
                <i class="fa fa-instagram" ></i>
            p Made By Akash Rajiwale









        script
            include ../static/js/index.js
            