extends base.pug
block frontpage
    //- ----------First section-----------
    section.sub-header
        nav.navbar
            div.nav-logo
                img(src="/static/images/logo.png", alt="")
            div.nav-list#nav-list
                <i class="fa fa-times-circle-o" onclick="closemenu()"></i>
                ul
                    li  #[a(href="/") HOME] 
                    li  #[a(href="/about") ABOUT] 
                    li  #[a(href="/course") COURSE] 
                    li  #[a(href="/blog") BLOG] 
                    li  #[a(href="/contact") CONTACT]
            </div> 
            <i class="fa fa-bars" onclick="showmenu()"></i>
        h1 Our Certificate And Online Programs for 2021

block content
    section.blogpage
        div.row
            div.blogpage-column
                img(src="/static/images/certificate.jpg", alt="") 
                h1 Our Certificate And Online Programs for 2021
                p Lorem ipsum dolor  sit, amet consectetur adipisicing elit. Accusantium error quaerat ut debitis natus beatae voluptatum ipsum animi nostrum earum aut explicabo quia quod placeat aperiam, quisquam, tenetur optio sapiente doloribus voluptas ducimus! Natus impedit nesciunt laboriosam consectetur quisquam cupiditate aut veritatis quaerat porro perferendis! Consectetur saepe iusto, temporibus expedita hic asperiores qui explicabo, vitae beatae ut porro esse blanditiis atque doloribus perspiciatis quia deleniti at ratione iste tempora pariatur ducimus voluptates sit! Aperiam, ab! Voluptates facilis aperiam illo nam quidem dicta quis error, voluptatum mollitia doloremque, ratione ad iusto vitae. Ipsum consequuntur, dolor rem culpa amet in eligendi magni. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi illo ratione animi nostrum voluptate minima reiciendis quos eos? Vel deserunt sequi libero nostrum nam quis ipsa amet ipsum, quisquam, cupiditate in saepe ducimus consequatur architecto dolor. Architecto sint facere officiis quos aut, dignissimos, illum aliquam quis, quod voluptatibus ut doloremque accusantium veritatis debitis beatae est. Cumque architecto porro animi maiores sapiente inventore? Consequatur omnis reprehenderit asperiores autem temporibus pariatur quia esse voluptas libero, corporis adipisci, exercitationem mollitia nam doloribus expedita illo at. Molestiae excepturi, velit rem ducimus atque eveniet asperiores odit odio inventore sequi? Facere, sed! Facilis dolorum aliquid debitis, labore laborum exercitationem tenetur similique. Doloremque, corrupti cum? Quasi voluptate eum nesciunt facere quo sit reprehenderit repellendus porro totam. Ex fugit, earum, nesciunt minima optio, odio natus ipsam id sit cupiditate vero quis harum. Ad totam minima assumenda aspernatur eius ipsam deleniti voluptate molestias eum, delectus excepturi labore quam nemo facere alias maiores aperiam iure optio? Officiis provident cumque sint illo aspernatur, nostrum minima fugit neque veniam suscipit beatae culpa nihil laborum, accusantium ab pariatur natus laudantium aliquam id! Deserunt quibusdam nemo quia neque fugiat. Sit hic ut repudiandae eligendi eveniet, at aspernatur praesentium nisi minima? Aut, doloribus totam.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime cumque debitis soluta laborum, nemo et vero laboriosam iure, earum saepe cum iste ratione mollitia natus velit, sapiente commodi! Quos perferendis nam expedita eius aperiam. Recusandae, placeat illo dicta nostrum excepturi delectus soluta debitis corrupti quasi voluptates alias odio quisquam? Enim repellat iste perspiciatis tenetur dolor magnam exercitationem sequi. Magnam incidunt tenetur dolore laboriosam, laborum saepe! Saepe natus soluta velit inventore deleniti nemo, perspiciatis dolorum tenetur corrupti ullam hic nam labore voluptas beatae ad? Quidem nobis quam optio, molestias dolore cum vel maxime fugit provident voluptates voluptas odit sequi. Dicta quod repellendus, vitae debitis illo veniam aperiam ut quas reprehenderit itaque praesentium in maxime fugit doloribus nihil iusto adipisci eos nesciunt tempore omnis dolores ipsum explicabo culpa facere! Doloribus, nihil vero vitae provident eligendi temporibus quis a ipsum animi porro? Iure excepturi commodi recusandae tenetur distinctio! Ipsum consequatur repudiandae molestiae alias nam maxime tenetur quo aut eaque beatae officiis, illum quasi repellendus excepturi dolorum sed itaque? Vero praesentium doloremque, laboriosam reprehenderit eligendi, doloribus neque repellat corrupti, error quisquam possimus. Corrupti minus illum suscipit odio repellendus. Culpa eius corporis magnam possimus harum pariatur explicabo, temporibus reprehenderit alias aperiam repellendus ipsa incidunt vitae sed molestiae cum! Eveniet at id officiis animi quos ipsa, assumenda perferendis quibusdam eos optio fuga aut sint dolorum velit incidunt ducimus corporis quasi, laboriosam possimus odit aperiam, hic aliquid et. Omnis repudiandae quod ducimus cupiditate vero esse dicta, modi, illum illo ipsam natus aperiam corrupti reprehenderit facere quisquam provident animi! Repudiandae distinctio minus numquam? Eligendi illo repellendus, est porro eveniet sint ipsa optio excepturi maiores? Incidunt eaque repellendus fugit voluptate accusantium quo minima, sed est iure eos ratione blanditiis quos, asperiores explicabo officia libero saepe, unde consectetur. Totam veritatis dolore eligendi quis dignissimos expedita cumque quidem, mollitia architecto.
            div.post-categories
                h1 Post Categories
                div.categories
                    span Business Analytics
                    span 21
                div.categories
                    span Machine Learning
                    span 44
                div.categories
                    span Digital Marketing
                    span 55
                div.categories
                    span Affilate Marketing
                    span 34
                div.categories
                    span Computer Science
                    span 22
                div.categories
                    span Information Technology
                    span 12